{{ define "main" }}

<div class="container">
    <div class="top">
        <h1>{{.Params.title}}</h1>
    </div>
    
    <div class="librarian">
        <a href="pages/librarian.html" class="librarian">{{.Params.librarian}}</a>
    </div>


    <div class="container1">
            
        <div class="item" style="background-image: '{{ Params.image }}';">
            <a href="pages/Trishy.html" class="help">
                <div class="button-text">{{.Params.project-title}}</div>
            </a>
        </div>

        <div class="item" style="background-image: '{{ Params.image }}';">
            <a href="pages/Indexing.html" class="help">
                <div class="button-text">{{.Params.project-title}}</div>
            </a>
        </div>

        <div class="item" style="background-image: '{{ Params.image }}';">
            <a href="pages/CWS.html" class="help">
                <div class="button-text">{{.Params.project-title}}</div>
            </a>
        </div>

        <div class="item" style="background-image: '{{ Params.image }}';">
            <a href="pages/ABAAB.html" class="help">
                <div class="button-text">{{.Params.project-title}}</div>
            </a>
        </div>

        <div class="item" style="background-image: '{{ Params.image }}';">
            <a href="pages/CN.html" class="help">
                <div class="button-text">{{.Params.project-title}}</div>
            </a>
        </div>

        <div class="item" style="background-image: '{{ Params.image }}';">
            <a href="pages/Languaging.html" class="help">
                <div class="button-text">{{.Params.project-title}}</div>
            </a>
        </div>

        <div class="item" style="background-image: '{{ Params.image }}';">
            <a href="pages/DVD.html" class="help">
                <div class="button-text">{{.Params.project-title}}</div>
            </a>
        </div>

        <div class="item" style="background-image: '{{ Params.image }}';">
            <a href="pages/SOS.html" class="help">
                <div class="button-text">{{.Params.project-title}}</div>
            </a>
        </div>

        <div class="item" style="background-image: '{{ Params.image }}';">
            <a href="pages/Tsar.html" class="help">
                <div class="button-text">{{.Params.project-title}}</div>
            </a>
        </div>

        <div class="item" style="background-image: '{{ Params.image }}';">
            <a href="pages/SHTDI.html" class="help">
                <div class="button-text">{{.Params.project-title}}</div>
            </a>
        </div>

        <div class="item" style="background-image: '{{ Params.image }}';">
            <a href="pages/Compress.html" class="help">
                <div class="button-text">{{.Params.project-title}}</div>
            </a>
        </div>

    </div>

</div>

{{ end }}
